* {
  outline: 1px solid red;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "notification notification notification"
    "sidebar topbar topbar"
    "sidebar main rightbar"
    "sidebar foot rightbar";
  grid-template-columns: 250px 1fr 400px;
  grid-template-rows: 0 120px 1fr 80px;
}
body.shownotification {
  grid-template-rows: 80px 120px 1fr 80px;
}

.notification {
  grid-area: notification;
  opacity: 0;
  height: 0;
  background: blue;
  transition: all 0.3s linear;
}
body.shownotification .notification {
  opacity: 1;
  height: 80px;
}

.sidebar {
  grid-area: sidebar;
}

.top-bar {
  grid-area: topbar;
}

.main {
  grid-area: main;
}

.rightbar {
  grid-area: rightbar;
}

.foot {
  grid-area: foot;
}

@media screen and (max-width: 700px) {
  body {
    grid-template-areas:
      "sidebar notification"
      "sidebar topbar"
      "sidebar main"
      "sidebar rightbar"
      "sidebar foot";
    grid-template-rows: 80px 120px 1fr 400px 80px;
    grid-template-columns: 0 1fr;
  }
  body.showsidebar {
    grid-template-columns: 1fr 100px;
  }

  body.showsidebar .sidebar {
    width: 100%;
  }

  .sidebar {
    width: 0;
    transition: all .3s linear;
  }
}

@media print {
  .no-print {
    display: none;
  }
}
